body{
    text-align: center;
    background-color: cadetblue;
    font-family: 'Poppins', sans-serif;
}

#kirjauduBtn{
    padding: 10px;
}
#uusiKayttajaBtn{
    padding: 10px;
}
#otsikko{
    margin-top: 80px;
}
#salasana{
    margin-bottom: 20px;
}
#virheIlmoitus{
    color: red;
}
#login{
    margin: auto;
    margin-top: 80px;
    display: block;
}
#aanestykset{
    
    margin: auto;
    margin-top: 40px;
    width: 500px;
    display: none;
}

#poistaBtn{
    display: none;
}
#poistaBr{
    display: none;
}

#admin #poistaBtn{
    margin: auto;
    display: block;
}

#admin #poistaBr{
    display: block;
}

#admin{
    margin: auto;
    margin-top: 40px;
    width: 500px;

}